#map {
	height: 100%;
    width: 100%;
}

.count-icon {
  background:#ff8888;
  border:5px solid rgba(255,255,255,0.5);
  color:#fff;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;
  }

.count-icon-highlight {
  background:#ff8888;
  border:5px solid #E24F53;
  color:#fff;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;
  }

.count-icon-new {
  background: url("/static/img/unselected_marker.png");
  width: 43px;
  height: 47px;
  color: #e05743;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  }


.count-icon-new.highlight {
  background: url("/static/img/selected_marker.png");
  color: #fff;
  }

.count-icon-highlight-new {
  background: url("/static/img/selected_marker.png");
  width: 43px;
  height: 47px;
  color: #fff;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  }

.count-icon-cluster {
  background: url("/static/img/marker-cluster-default-2.png");
  width: 47px;
  height: 51px;
  color: #e05743;
  line-height: 51px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  }

.count-icon-cluster:hover {
  background: url("/static/img/marker-cluster-hover-2.png");
  color: #fff;
}

.count-icon-cluster.active {
  background: url("/static/img/marker-cluster-hover-2.png");
  color: #fff;
}

.count-icon-cluster .clusterChildCount {
  background: none repeat scroll 0 0 #cb2027;
  border: 1px solid #a81117;
  border-radius: 50px;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  height: 19px;
  line-height: 16px;
  position: absolute;
  right: -4px;
  text-align: center;
  top: 4px;
  width: 19px;
  font-size: 12px;
}

.popup {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    padding: 3px 4px;
    width: 200px;
    height: 40px;
    text-align: center;
}

.popup_elem {
    padding: 0;
    margin: 0;
}

.top50 {
    top: 50%;
}

.poi-bg .close {
    background-image: url('/static/img/close-button.svg');
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    z-index: 100;
}

#help-text {
  margin: 25px 0 0 0;
  font-size: 12px;
  display: none;
  position: relative;
  float: left;
  width: 75px;
}
.search input[type="search"]:focus + #help-text {
  display: block;
}

.list-hover {
    box-shadow: 0 0 0 3px rgba(226, 79, 83, 0.95);
  }

.la-anim {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background: #ed4e6e;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
  transform: translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events: none;
  z-index: 101;
}

.la-anim.la-animate {
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
  transform: translateX(50%) translateY(-50%) rotate(45deg);
}

/* Loading circle idea from http://codepen.io/Metty/details/lgJck */
.la-anim::before,
.la-anim::after {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: block;
  border: 5px solid #fff;
  border-radius: 50%;
  content: '';
}

.la-anim::before {
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-right-color: #bb344f;
  border-left-color: #bb344f;
  -webkit-animation: rotation 3s linear infinite;
  animation: rotation 3s linear infinite;
}

.la-anim::after {
  bottom: 50px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  border-top-color: #bb344f;
  border-bottom-color: #bb344f;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}


@-webkit-keyframes rotation {
  0%    { -webkit-transform: rotate(0deg); }
  50%   { -webkit-transform: rotate(180deg); }
  100%  { -webkit-transform: rotate(360deg); }
}

@keyframes rotation {
  0%    { transform: rotate(0deg); }
  50%   { transform: rotate(180deg); }
  100%  { transform: rotate(360deg); }
}


.royalSlider img {
    width: 200px;
    height: 200px;
}

.poi-description {
  width: 100%;
  word-wrap: break-word;
}