.la-anim {
  position: fixed;
  top: 40%;
  right: 40%;
  width: 102px;
  height: 102px;
  background: #fff;
  pointer-events: none;
  z-index: 101;
  display: none;
  background-image: url('/static/img/spinner.gif');
  filter: alpha(opacity=80);
  background-repeat:no-repeat;
}

.la-anim.la-animate {
  display: block;
}

.la-anim::before,
.la-anim::after {
  display: none;
}