

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

*:focus {
    outline:none;
    outline: 0;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


/**** STYLES BEGIN ********************************************************************************************/
/*
    I - CLEARFIX
    II - LAYOUTS & RESETS
    III - TYPOGRAPHY
    IV - MAJOR SECTION LAYOUTS
    V - MINOR LAYOUTS & ELEMENTS
    VI - RESPONSIVE NAVIGATION
*/


/**** I - CLEARFIX (clears floats) ****************************************************************************/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}


/**** II - LAYOUTS & RESETS ****************************************************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background: #F6F0E6;
}


@media (min-width: 37.5em) {

}

@media (min-width: 62.188em) {

}


/**** III - TYPOGRAPHY ****************************************************************************/

body {
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  color: #554D4C;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
  color: #554D4C;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0.4em;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-weight: 800;
  font-size: 2.441em;
}

h2 { font-size: 1.953em; }

h3 { font-size: .75em; position: relative; }

h4 { font-size: .95em; }

p { font-size: .9em; }

.info-pricing .fine-print { margin: 0 0 .4em; }

.fine-print {
  font-size: .7em;
  font-style: italic;
  opacity: .6;
}

.list-info { line-height: 1; }

.info-content {
  overflow: auto;
  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 1em 0;
  margin: 1em 0;
}

.info-content h4 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.info-content ul {
  font-size: .8em;
  margin: .2em 0;
}

.info-desc p { margin: 0 0 2.5em; }

.info-title h2 { margin: .25em 0 0; }

.info-title p { margin: 0; }

.list-info h3 { margin: -.03em 0; }

.list-info p {
  margin: .4em 0 .2em;
  font-size: 0.7em;
  color: #888;
  line-height: 1.2em;
}

.list-number {
  display: none;
}

.tooltip:hover:after{
  font-size: .75em;
  font-weight: 600;
}

/* LINKS */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.poi a {
  border: none !important;
  text-decoration: none !important;
}


@media (min-width: 37.5em) {
  body {
    font-size: 115%;
  }

  .list-info p {
    font-size: 0.6em;
  }

}

@media (min-width: 42.500em) {
  body {
    font-size: 125%;
  }

}

@media (min-width: 62.188em) {
  .list-info p {
    font-size: 0.625em;
  }

}



/**** IV - MAJOR SECTION LAYOUTS ****************************************************************************/

@keyframes slideIn {
  0% { opacity: 0; transform: translate(0,-0.5em) translate3d(0,-0.5em,0); }
  100% { opacity: 1; transform: translate(0,0) translate3d(0,0,0); }
}


/**** IV - MAJOR SECTION LAYOUTS ****************************************************************************/

header {
  width: 100%;
  height: 3.75em;
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

footer {
  width: 100%;
  height: 4em;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,.2);
}

.main-panel {
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: .5em .5em .5em;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.home {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

@media (min-width: 37.5em) {
  .main-panel {
  padding: .5em;
  margin: 3.75em auto;
}

}

@media (min-width: 42.5em) {

}

@media (min-width: 62.188em) {

}


/**** V - MINOR LAYOUTS & ELEMENTS ****************************************************************************/

.bg-color {
  position: absolute;
  top: 0;
  height: 28.75em;
  width: 100%;
  background: #EBC44F;
}

.hello {
  height: 80%;
  background: #3FADB8;
  margin: 0 0 .5em;
  padding: 1.5em 1em 3em;
  width: 100%;
  color: #FFF;
  text-align: center;
}
 .hello span {  }
 .hello p { font-weight: 700; font-size: 2em; margin: .8em 0 .6em; }

.feature {
  width: 100%;
  color: #FFF;
  height: 24em;
  overflow: hidden;
  border-radius: 3px;
  padding: .5em;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

.feature.first {
  box-shadow: none;
}

.feature h1 {
  color: #FFF;
}

.feature-full {
  margin: .5em 0;
  height: 80%;
  width: 100%;
  color: #FFF;
  text-align: center;
}
  .feature-full h1 { font-size: 5em; margin-bottom: .85em; color: #FFF; text-transform: uppercase; padding-top: .5em;}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

#locations {
  margin: 0 auto;
}

.hours-op:before {
  /*content: " (O) ";*/
}

.poi-bg {
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: .4em;
  overflow: auto;
}

.info-container {
  padding: .8em;
}

.info-hours {
  float: left;
  width: 100%;
}

.info-pricing {
  float: left;
  width: 100%;
}

.info-desc {
  float: left;
  width: 100%;
}

.poi {
  padding: .5em;
}

.list {
  width: 100%;
  color: #6b6b69;
  height: 14em;
  padding: .5em;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.075);
  background-size: cover;
  background-position: 50%;
  -webkit-transition: box-shadow 250ms cubic-bezier(0.25, 0.5, 0.5, 0.95) 0s;
  -moz-transition: box-shadow 250ms cubic-bezier(0.25, 0.5, 0.5, 0.95) 0s;
  transition: box-shadow 250ms cubic-bezier(0.25, 0.5, 0.5, 0.95) 0s;
}

.list-number {
  position: absolute;
  left: -1.3em;
}

.list-info {
  width: 100%;
  overflow: hidden;
  padding: .7em .8em .85em;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
}

.list-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
}

.list-image img{
  width: 100%;
  display: block;
}

.ad {
  padding: .3em;
}

.ad img {
  width: 100%;
  border-radius: 3px;
  display: block;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 25em) {
  .info-hours {
    float: left;
    width: 50%;
    padding-right:0.4em;
  }

  .info-pricing {
    float: right;
    width: 50%;
    padding-left:0.4em;
  }

}

@media (min-width: 37.5em) {
  .list-number {

  }

  .info-hours {
    float: left;
    width: 50%;
    padding-right:0.4em;
  }

  .info-pricing {
    float: right;
    width: 50%;
    padding-left:0.4em;
  }

}

@media (min-width: 62.188em) {

  .poi.large .list { height: 29em; }

  .list:hover {
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.225);
  }

  #locations {
    width: 54em;
    margin: 0 auto;
  }

  .la-anim-10 {
    position: fixed;
    top: 0px;
    right: 5px;
    width: 70px;
    height: 70px;
    background: rgb(255, 253, 252);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    pointer-events: none;
    z-index: 9000;
  }

  .la-anim-10.la-animate {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(50%) translateY(-50%) rotate(45deg);
  }

  .la-anim-10::after {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
  }

  .la-anim-10::after {
    top: 20%;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: rgb(235, 93, 78);
    border-bottom-color: rgb(235, 93, 78);
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
  }

}


/**** VI - RESPONSIVE NAVIGATION ****************************************************************************/

.header {clear: both;}

.header-inner {
  width: 55em;
  margin: 0 auto;
  padding: 0 1em;
}

.logo a {
  border:none !important;
}

.logo {
  position: relative;
  left: 0%;
  margin: 8px 0 0 0;
  width: 40px;
  float: left;
  display: inline-block;
}

.logo-title {
  line-height: 3.3em;
  color: #50504f;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2em;
  padding-left: .75em;
  display: none;
}

.main-nav-container {
  float: left;
  display: inline-block;
  margin: 1.15em 0 0 2em;
}

.main-nav li:before {
  content: "|";
  position: relative;
  top: 0;
  right: .75em;
  opacity: .2;
}

.main-nav li:first-child:before {
  content: "";
  opacity: 0;
}

.main-nav li {
  float: left;
  margin: 0 1.5em 0 0;
  font-size: .7em;
  font-weight: 600;
}

/* Search */

.search-container {
  display: none;
  position: absolute;
  width: 100%;
  padding: .5em 1em .5em;
  margin: 3.5em 0 0;
  border-radius: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.search-container-active {
  display:block;
}

.search-toggle {
  float: right;
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: .5em;
  border-radius: 50px;
  margin: .725em .5em;
  background: rgba(0, 0, 0, 0.05);
}

textarea:focus, input:focus{
  outline: 0;
}

.search input[type="search"] {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  border: 0px;
  width: 100%;
  padding: 7px 35px;
  border-radius: 50px;
  box-sizing: border-box;
  background: url('http://bigredbell.com/img/search.svg') no-repeat rgba(0, 0, 0, 0.05) 92% 50%;
  font-size: .8em;

  -webkit-transition: background 250ms cubic-bezier(0.25, 0.5, 0.5, 0.95) 0s;
  -moz-transition: background 250ms cubic-bezier(0.25, 0.5, 0.5, 0.95) 0s;
  transition: background 250ms cubic-bezier(0.25, 0.5, 0.5, 0.95) 0s;
}

.search input[type="search"]:focus {
  background-color: rgba(0, 0, 0, 0.15);
}

/* Filters*/
.filters-container {
  float: right;
  margin-right: .5em;
}

.toggle-filter {
  float: right;
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: .4em;
  border-radius: 50px;
  margin: .725em 0;
  background: rgba(0, 0, 0, 0.05);
}

.filters {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 16;
  width: auto;
  background: rgba(255,255,255,1);
  padding: 1em;
  margin: 0 0 0 -.4em;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.filters:after {
  content: "";
  bottom: 99.5%;
  left: 50%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border: solid transparent;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: .75em;
  margin-left: -.75em;
}

.filters > li {
  list-style: none;
  width: 40px;
  display: block;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.filters > li img{
  width: 40px;
  opacity: .5;
}

.toggle-filter-active{background: rgba(0,0,0,.2);}

.filters-active {
  display: block !important;
}


@media (min-width: 42.500em) {
  .logo {
    margin: .55em 0 0 0;
    width: 44px;
  }

  .logo:hover + .logo-title {
    opacity: 1;
    transform: translate(0em, 0);
  }

  .search input[type="search"] {
    padding: 8px 2.5em 10px 1.5em;
  }

  .toggle-filter {
    margin: .9em 0;
  }

}

@media (min-width: 62.188em) {

  .header-inner {
    max-width: 100%;
  }

  .search-container {
    display: inline-block;
    position: relative;
    float: right;
    margin: .9em .5em 0 0;
    width: 12.25em;
    border-top: 0;
    padding: 0;
  }

  .search-toggle {
    display: none;
  }


  .filters-container {
    float: left;
  }

  .filters > li {
    float: left;
    margin: 19px .5em 0 0;
  }

  /* Tool-tips (for describing filter icons on hover)*/
  .tooltip {
    display: inline;
    position: relative;
  }

  .tooltip:hover:after {
    width: 5.2em;
    position: absolute;
    z-index: 100;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    top: 4.8em;
    content: attr(data-title);
    left: -1.4em;
    padding: .4em;
    text-align: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  }

  .tooltip:hover:before {
    content: "";
    top: 2.5em;
    left: 50%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    z-index: 102;
    border: solid transparent;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: .75em;
    margin-left: -.75em;
  }

}




/**** V - BUTTONS ****************************************************************************/
.button-st {
  font-weight: 700;
  font-size: .7em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #FFF;
  display: inline-block;
  text-decoration: none;
  padding: .9em 1.6em;
  border-radius: 50px;
  border:2px solid #FFF;

}
  .button-st:hover {
    background: #F5F2EA;
    color: #444;
  }





/**** VI - ROYALSLIDER ****************************************************************************/

/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
  width: 600px;
  height: 450px;
  position: relative;
  direction: ltr;
}

.rsMainSlideImage {
  margin-top: 0px !important;
}

.royalSlider > * {
  float: left;
}

.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0);
}


.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden;
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
    -webkit-transform: none;
}
.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0;

}
.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}

.rsThumb {
  float: left;
  position: relative;
}


.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition:opacity 0.3s linear;
  -moz-transition:opacity 0.3s linear;
  -o-transition:opacity 0.3s linear;
  transition:opacity 0.3s linear;
}
.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
  -moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
  transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}


.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
}

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: .2em !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition:  0s;
  transition:  0s;
  display: none;
}

.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;

  height: 100%;
  width: 100%;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto;
}

.rsContent {
  width: 100%;
  height: 100%;
  position: relative;
}

.rsPreloader {
  position:absolute;
  z-index: 0;
}

.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
.rsNavItem {
  -webkit-tap-highlight-color:rgba(0,0,0,0.25);
}

.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}
.rsTabs {
  float: left;
  background: none !important;
}
.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}


.rsVideoContainer {
  /*left: 0;
  top: 0;
  position: absolute;*/
  /*width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}
.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px;
}

.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;

}

img.rsImg {
  max-width: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.grab-cursor {
  cursor:url('http://bigredbell.com/img/grab.png') 8 8, move;
}

.grabbing-cursor{
  cursor:url('http://bigredbell.com/img/grabbing.png') 8 8, move;
}

.rsNoDrag {
  cursor: auto;
}

.rsLink {
  left:0;
  top:0;
  position:absolute;
  width:100%;
  height:100%;
  display:block;
  z-index: 20;
  background: url('http://bigredbell.com/img/blank.gif');
}

#gallery-poi {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


/******************************
*
*  RoyalSlider Default Inverted Skin
*
******************************/


/* Background */
.rsDefaultInv,
.rsDefaultInv .rsOverflow,
.rsDefaultInv .rsSlide,
.rsDefaultInv .rsVideoFrameHolder,
.rsDefaultInv .rsThumbs {
  background: rgb(255, 253, 252);
  border-radius: 3px;
}


/***************
*
*  1. Arrows
*
****************/

.rsDefaultInv .rsArrow {
  height: 100%;
  width: 44px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}
.rsDefaultInv.rsVer .rsArrow {
  width: 100%;
  height: 44px;

}
.rsDefaultInv.rsVer .rsArrowLeft { top: 0; left: 0; }
.rsDefaultInv.rsVer .rsArrowRight { bottom: 0;  left: 0; }

.rsDefaultInv.rsHor .rsArrowLeft { left: 0; top: 0; }
.rsDefaultInv.rsHor .rsArrowRight { right: 0; top:0; }

.rsDefaultInv .rsArrowIcn {
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin-top:-16px;
  margin-left: -16px;

  position: absolute;
  cursor: pointer;
  background: url('http://bigredbell.com/img/rs-white.png');

  background-color: #FFF;
  background-color: rgba(255,255,255, .75);
  *background-color: #FFF;

  border-radius: 3px;
}
.rsDefaultInv .rsArrowIcn:hover {
  background-color: rgba(255,255,255,0.9);
}

.rsDefaultInv.rsHor .rsArrowLeft .rsArrowIcn { background-position: -64px -32px; }
.rsDefaultInv.rsHor .rsArrowRight .rsArrowIcn { background-position: -64px -64px; }

.rsDefaultInv.rsVer .rsArrowLeft .rsArrowIcn { background-position: -96px -32px; }
.rsDefaultInv.rsVer .rsArrowRight .rsArrowIcn { background-position: -96px -64px; }

.rsDefaultInv .rsArrowDisabled .rsArrowIcn { filter: alpha(opacity=20); opacity: .2; *display: none; }




/***************
*
*  3. Thumbnails
*
****************/

.rsDefaultInv .rsThumbsHor {
  width: 100%;
  height: 72px;
}
.rsDefaultInv .rsThumbsVer {
  width: 96px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.rsDefaultInv.rsWithThumbsHor .rsThumbsContainer {
  position: relative;
  height: 100%;
}
.rsDefaultInv.rsWithThumbsVer .rsThumbsContainer {
  position: relative;
  width: 100%;
}
.rsDefaultInv .rsThumb {
  float: left;
  overflow: hidden;
  width: 96px;
  height: 72px;
}
.rsDefaultInv .rsThumb img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.rsDefaultInv .rsThumb.rsNavSelected {
  background: rgb(222, 69, 73);
  border-radius: 3px;
}
.rsDefaultInv .rsThumb.rsNavSelected img {
  opacity: 0.25;
  border-radius: 3px;
  filter: alpha(opacity=25);
}
.rsDefaultInv .rsTmb {
  display: block;
}

/* Thumbnails with text */
.rsDefaultInv .rsTmb h5 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
.rsDefaultInv .rsTmb span {
  color: #DDD;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
}



/* Thumbnails arrow icons */
.rsDefaultInv .rsThumbsArrow {
  height: 100%;
  width: 20px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
  background: #FFF;
  background: rgba(255, 253, 252,0.85);
}
.rsDefaultInv .rsThumbsArrow:hover {
  background: rgba(255, 253, 252,1);
}
.rsDefaultInv.rsWithThumbsVer .rsThumbsArrow {
  width: 100%;
  height: 20px;
}
.rsDefaultInv.rsWithThumbsVer .rsThumbsArrowLeft { top: 0; left: 0; }
.rsDefaultInv.rsWithThumbsVer .rsThumbsArrowRight { bottom: 0;  left: 0; }

.rsDefaultInv.rsWithThumbsHor .rsThumbsArrowLeft { left: 0; top: 0; }
.rsDefaultInv.rsWithThumbsHor .rsThumbsArrowRight { right: 0; top:0; }

.rsDefaultInv .rsThumbsArrowIcn {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top:-8px;
  margin-left: -8px;
  position: absolute;
  cursor: pointer;
  background: url('http://bigredbell.com/img/rs-white.png');
}

.rsDefaultInv.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -128px -32px; }
.rsDefaultInv.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -128px -48px; }

.rsDefaultInv.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -144px -32px; }
.rsDefaultInv.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -144px -48px; }

.rsDefaultInv .rsThumbsArrowDisabled { display: none !important; }

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
  .rsDefaultInv .rsThumb {
    width: 59px;
    height: 44px;
  }
  .rsDefaultInv .rsThumbsHor {
    height: 44px;
  }
  .rsDefaultInv .rsThumbsVer {
    width: 59px;
  }
}




/***************
*
*  5. Fullscreen button
*
****************/

.rsDefaultInv .rsFullscreenBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 22;
  display: block;
  position: absolute;
  cursor: pointer;

}
.rsDefaultInv .rsFullscreenIcn {
  display: block;
  margin: 6px;
  width: 32px;
  height: 32px;

  background: url('http://bigredbell.com/img/rs-white.png') 0 0;
  background-color: #FFF;
  background-color: rgba(255,255,255,0.75);
  border-radius: 3px;

}
.rsDefaultInv .rsFullscreenIcn:hover {
  background-color: rgba(255,255,255,0.9);
}
.rsDefaultInv.rsFullscreen .rsFullscreenIcn {
  background-position: -32px 0;
}



/***************
*
*  7. Preloader
*
****************/

.rsDefaultInv .rsPreloader {
  width:20px;
  height:20px;
  background-image:url('http://bigredbell.com/img/preloaders/preloader-white.gif');

  left:50%;
  top:50%;
  margin-left:-10px;
  margin-top:-10px;
}






/**** VII - GRID ****************************************************************************/
.poi { width: 100%; }

@media (min-width: 24em) {
  .poi { width: 50%; }
  .poi.large { width: 50%; }
  .poi.full { width: 100%; }
}


@media (min-width: 53.125em) {

  .poi { width: 25%; }
  .poi.full { width: 100%; }
}


/********************************************************************************/

.locations-map {
  margin: 0 0 0;
}

.main-panel-map {
  height: auto;
  width: 100%;
  position: absolute;
  top: 85%;
  padding: .5em .5em .5em;
  z-index: 4;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

@media (min-width: 37.5em) {
  .main-panel-map {
  padding: .4em 3.4em .4em;
}

}

@media (min-width: 42.5em) {
  .main-panel-map {
  padding: .4em 5.7em .4em;
}

}

@media (min-width: 53.750em) {
  .main-panel-map {
    width: 25em;
    top: 3.5em;
    left: 0;
    padding: .3em .3em .3em;
    margin: 0;
  }

}


.list-bg {
  margin: 0 0;
  width: 50%;
  float: left;
  padding: .3em .3em;
  transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
}

.ad {
  padding: .3em;
}

.ad img {
  width: 100%;
  border-radius: 3px;
  display: block;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 42.500em) {
  .list-bg {
    width: 50%;
  }
}
