

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

*:focus {
    outline:none;
    outline: 0;
}

textarea:focus, input:focus{
  outline: 0;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


/**** STYLES BEGIN ********************************************************************************************/
/*
    I - CLEARFIX
    II - LAYOUTS & RESETS
    III - TYPOGRAPHY
    IV - MAJOR SECTION LAYOUTS
    V - MINOR LAYOUTS & ELEMENTS
    VI - RESPONSIVE NAVIGATION
*/


/**** I - CLEARFIX (clears floats) ****************************************************************************/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}


/**** II - LAYOUTS & RESETS ****************************************************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hide {
 display: none;
 position: absolute !important;
 top: -9999px !important;
 left: -9999px !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background: url('http://bigredbell.com/img/topo.png') #FAF8F6 repeat;
  overflow-x: hidden;
}


@media (min-width: 37.5em) {

}

@media (min-width: 62.188em) {

}


/**** III - TYPOGRAPHY ****************************************************************************/

body {
  font-size: 100%;
  color: #484C4C;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

.logo-title {
  line-height: 3.2em;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  padding-left: .75em;
  float: left;
  display: none;
}

h2, h3, h4 {
  margin: 0.4em 0 .6em;
  line-height: 1.2;
  font-weight: 900;
}

h1 {
  font-size: 30px;
  margin: 0;
  line-height: 1.1;
  font-weight: 900;
  padding: 5% 5% 0;
}

.main-nav li {
  font-size: .825em;
}

.feature h1 {
  font-size: 30px;
  text-align: center;
}

h2 { font-size: 24px; font-weight: 900; }
  .poi-info-group h2 {text-align: center; margin: 0; padding: 5% 5% 2.5%;}
  .info-title h2 { margin: .25em 0 0; }
  .poi-description h2 {margin: 0; padding: 7.5% 5% 2.5%;}
  .poi-map-title h2 {margin: 0.4em auto .8em; text-align: left; display: inline-block;}
  .poi-map-title p {display: none;}
  .poi-map-title {margin: 0 auto; width: 95%; max-width: 960px;}
  .related-poi-title {text-align: left;}

.desc-title { text-align: center; }

h3 { font-size: 16px; color: #444848; font-weight: 600; }
  .list-info h3 { margin: -.03em 0; }

h4 { font-size: .95em; }
  .info-content h4 { margin: 0; text-transform: uppercase; }

p { 
  font-size: 18px;
  line-height: 1.5; 
}
  .info-desc p { margin: 0 0 2.5em; }
  .poi-title p { font-size: 15px; padding: 0% 5% 5%; margin: 0; opacity: .6; }
  .list-info p { margin: .35em 0 .2em; font-size: 12px; line-height: 1.2em; color: #444848; opacity: .75; }
  .info-title p { margin: 0; }
  .poi-description p {margin-top: 0;}

.fine-print {
  font-size: .7em;
  font-style: italic;
  opacity: .6;
}

.info-pricing .fine-print { margin: 0 0 .4em; }

.list-info { line-height: 1; }

.list-number { display: none; }

.info-content ul { 
  font-size: .8em;
  margin: .2em 0; 
}

.poi a {
  border: none !important;
  text-decoration: none !important;
}


@media (min-width: 600px) {
  h1 { font-size: 36px; }
  h2 { font-size: 28px; }
    .poi-info-group h2 { padding: 2.5% 5% 2.5%; }
    .poi-description h2 { padding: 5% 5% 2.5%; }
  .poi-title p { font-size: 16px; }
  .list-info p { font-size: 14px;}
  p { font-size: 18px; }
}

@media (min-width: 960px) {
  .desc-title h2 { margin: 30px 20px 6px; }
  .desc-title p { margin: 0px 20px 30px; }
  h1 { font-size: 45px;padding: 2.5% 5% 0; }
  .feature h1 { font-size: 56px; }
  .poi-description p { font-size: 20px; opacity: .8; }
  h2 { font-size: 30px; }
    .poi-info-group h2 { text-align: left; padding: 2.5% 0; }
    .poi-description h2 { display: none; }
  .poi-title p { font-size: 18px; padding: .25% 5% 2.5%;}
  .poi-map-title p {text-align: right; float: right; opacity: .4; display: inline-block;}
}

@media (min-width: 62.188em) {
}



/****  Animations ****************************************************************************/

@keyframes slideIn {
  0% { opacity: 0; transform: translate(0,-0.5em) translate3d(0,-0.5em,0); }
  100% { opacity: 1; transform: translate(0,0) translate3d(0,0,0); }
}


/**** IV - MAJOR SECTION LAYOUTS ****************************************************************************/

header {
  width: 100%;
  height: 65px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: -moz-linear-gradient(90deg, rgba(153,218,255,0) 0%, rgba(0,0,0,0.05) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.05)), color-stop(100%, rgba(153,218,255,0))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(153,218,255,0) 0%, rgba(0,0,0,0.05) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(153,218,255,0) 0%, rgba(0,0,0,0.05) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(153,218,255,0) 0%, rgba(0,0,0,0.05) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(0,0,0,0.05) 100%); /* w3c */
}

footer {
  width: 100%;
  height: 12em;
  background: #E75749;
  box-shadow: inset 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.slideshow-group {
  background: #FFF;
  margin-top: 2.75%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.175);
  border-radius: 4px;
  padding-bottom: 10px;
  text-align: center;
}

.main-panel {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.home {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  display: none;
}

@media (min-width: 37.5em) {
}

@media (min-width: 42.5em) {

}

@media (min-width: 960px) {
  .slideshow-group { margin-top: 78px; }

}


/**** V - MINOR LAYOUTS & ELEMENTS ****************************************************************************/

.category-filters {
  padding: 0;
  margin: 0;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 50px;
  overflow: hidden;
  display: inline-block;
  float: left;
  position: relative;
  top: -6px;
}

.category-filters:after {
  top: 50%;
  right: 14px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #FFF;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

.category-filters select {
  padding: 5px 5px 7px 16px;
  width: 110px;
  color: #FFF;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.category-filters select:focus {
  outline: none;
}

.category-filters select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

#width_tmp {
  display : none;
}

.amenities-list li img {
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 7.5%;
  white-space: nowrap;
  width: 30px;
}

.amenities-list li {
  display: inline-block;
  width: 49%;
  padding: 2.5% 0% 0% 0%;
  line-height: 0;
  vertical-align: middle;
}

.amenities-list li p {
  font-size: 15px;
  margin: 0;
  display: inline-block;
}

.bg-color {
  position: absolute;
  top: 0;
  height: 600px;
  width: 100%;
  background: #4BA8BB;
}

.gallery-color {
  position: absolute;
  top: 0;
  height: 35.65em;
  width: 100%;
  /*background: #3A4042;*/
}

.poi-map {
  width: 100%;
  height: 300px; /* TEMPORARY */
  background-color: #4BA8BB;
  margin: 0 0 32px;
}

.related-poi { margin-bottom: 32px; }

.info-content {
  overflow: auto;
  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 1em 0;
  margin: 1em 0; 
}

.hello { 
  height: 80%;
  background: #3FADB8;
  margin: 0 0 .5em;
  padding: 1.5em 1em 3em;
  width: 100%;
  color: #FFF;
  text-align: center;
}
 .hello span {  }
 .hello p { font-weight: 700; font-size: 2em; margin: .8em 0 .6em; }

 .poi-description {
  float: left;
  border-bottom: 2px solid #E64F4F;
  margin-bottom: 2.5%;
  padding-bottom: 2.5%;
 }

.feature {
  width: 100%;
  color: #FFF;
  height: 300px;
  overflow: hidden;
  border-radius: 3px;
  padding: .5em;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.feature.first {
  box-shadow: none;
  margin-bottom: 24px;
  position: relative;
  overflow: visible;
}

.feature.first:after {
  background: url(http://bigredbell.com/img/marker-feat.svg) no-repeat;
  position: absolute;
  content: "";
  z-index: 100;
  width: 65px;
  height: 89px;
  bottom: -44px;
  left: 50%;
  margin-left: -33px;
}

.feature.first h1 {
  color: #FFF;
  margin-top: 218px;
}

.feature h1 {
  color: #FFF;
}

.feature-full { 
  margin: .5em 0;
  height: 80%;
  width: 100%;
  color: #FFF;
  text-align: center;
}
  .feature-full h1 { font-size: 5em; margin-bottom: .85em; color: #FFF; text-transform: uppercase; padding-top: .5em;}

#locations {
  margin: 0 -8px;
}

.amenities {
  margin-bottom: 2.5%;
}

.hours {
  border-bottom: 2px solid #E64F4F;
  margin-bottom: 2.5%;
  padding-bottom: 6%;
}

.hours-list li {
  padding: 1.5% 0 2%;
  border-bottom: 1px solid rgba(0,0,0,.05);
  margin-bottom: 1%;
  text-align: right;
}
  .hours-list li:last-child { border-bottom: none; }
  .day { float: left; font-weight: 700; }

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
}

.info-pricing {
  display: none;
}

.list {
  width: 100%;
  height: 12em;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
  background: #FFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: 50%;
  -webkit-transition: box-shadow 250ms cubic-bezier(0.25, 0.5, 0.5, 0.95) 0s;
  -moz-transition: box-shadow 250ms cubic-bezier(0.25, 0.5, 0.5, 0.95) 0s;
  transition: box-shadow 250ms cubic-bezier(0.25, 0.5, 0.5, 0.95) 0s;
}

.list-number {
  position: absolute;
  left: -1.3em;
}

.list-info {
  width: 100%;
  overflow: hidden;
  padding: 14px 4px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FFF;
}

.list-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
}

.list-image img{
  width: 100%;
  display: block;
}

.ad {
  padding: .3em;
}

.ad img {
  width: 100%;
  border-radius: 3px;
  display: block;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

@media (min-width: 600px) {
  .hours-list li {
    padding: 1% 0 1.5%;
    font-size: 18px;
  }

  .amenities-list li img { width: 32px; }
}

@media (min-width: 760px) {
  .hours { width: 45%; float: left; border-bottom: none;}
  .amenities { width: 45%; float: right; }
  .amenities-list li p { font-size: 17px; }
  .hours-list li { font-size: 17px; }
}

@media (min-width: 960px) {
  .hours { width: 100%;}
  .amenities { width: 100%; }
  .poi-description { border-bottom: none; }
  .amenities-list li p { font-size: 18px; }

  .hours-list li { font-size: 18px; }

  .related-poi { margin-bottom: 48px; position: relative; }

  .poi-map { margin: 0 0 48px; }

  .feature.first { margin-bottom: 40px; }

  .poi-map { height: 600px; /* TEMPORARY */ }

  .amenities-list li img { width: 40px; }

  .feature.first { height: 650px; }
  .feature { height: 575px; }

 .list { height: 250px;}
 .poi.large .list { height: 510px; }

  .list:hover {
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.175);
  }

  .la-anim-10 {
    position: fixed;
    top: 0px;
    right: 5px;
    width: 70px;
    height: 70px;
    background: rgb(255, 253, 252);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    pointer-events: none;
    z-index: 9000;
  }

  .la-anim-10.la-animate {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(50%) translateY(-50%) rotate(45deg);
  }

  .la-anim-10::after {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #FFF;
    border-radius: 50%;
    content: '';
    top: 20%;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: rgb(235, 93, 78);
    border-bottom-color: rgb(235, 93, 78);
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
  }
}


/**** VI - RESPONSIVE NAVIGATION ****************************************************************************/

.header {clear: both; font-size: 18px; font-weight: 400;}

.header-inner {
  width: 100%;
  margin: 0 auto;
}

.header-inner a {
  color: #FFF;
}

.hamburger-menu {
  position: relative;
  padding-left: 1.25em;
  top: 22px;
}
.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 4px;
  background: #444848;
  box-shadow: 0 7px 0 0 #444848, 0 14px 0 0 #444848;
  border-radius: 100px;
}

.nav-container {
  display: inline-block;
  float: right;
  position: relative;
  top: 22px;
  width: 89% ;
  white-space: nowrap;
  text-align: left;
}

.nav-container a {
  display: inline-block;
  padding: 0 2.5%;
}

.nav-container-inner {
  display: none;
}

.subscribe {
  padding: 10px 2.5% 11px !important;
  color: #FFF !important;
  float: right;
  position: relative;
  top: -10px;
  border-radius: 4px;
}

.logo {
  display: inline-block;
  float: left;
  width: 10%;
  text-align: left;
}

.logo a {
  border:none !important;
}

.logo img {
  margin: 0;
  display: inline-block;
  padding: 8px 8px 6px;
  background: #FFF;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

/* Search */
.search-container {
  display: none;
  position: relative;
  width: 100%;
}

.search-container-active {
  display:block;
}

.search-toggle {
  float: left;
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 22px;
  width: 19px;
  background: url('http://bigredbell.com/img/search-icon-white.svg') no-repeat;
}

.search input[type="search"] {
  border: 1px solid rgba(0,0,0,.03);
  display: inline-block;
  float: left;
  border: 0px;
  width: 100%;
  position: relative;
  top: 12px;
  padding: 9px 25px 10px 50px;
  border-radius: 4px;
  box-sizing: border-box;
  background: #FFF;
  -webkit-transition: background 250ms cubic-bezier(0.25, 0.5, 0.5, 0.95) 0s;
  -moz-transition: background 250ms cubic-bezier(0.25, 0.5, 0.5, 0.95) 0s;
  transition: background 250ms cubic-bezier(0.25, 0.5, 0.5, 0.95) 0s;
}

.search input[type="search"]:focus {
  background-color: rgba(0, 0, 0, 0.05);
}


@media (min-width: 760px) { }

@media (min-width: 960px) {
  .hamburger-menu { display: none !important; }

  .header-inner {
    max-width: 1000px;
  }

  .nav-container-inner {
    display: block;
  }

}




/**** V - BUTTONS ****************************************************************************/
.button-st {
  font-weight: 700;
  font-size: .7em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #FFF;
  display: inline-block;
  text-decoration: none;
  padding: .9em 1.6em;
  border-radius: 50px;
  border:2px solid #FFF;

}
  .button-st:hover { 
    background: #F5F2EA;
  }




/**** VI GALLERY ****************************************************************************/

.slideshow {
  width: 100%;
}

.slideshow ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.slideshow li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.slideshow img {
    display: block;
    height: auto;
    width: 100%;
}


.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit;
    transition-duration: inherit;
    -webkit-transition-timing-function: inherit;
    transition-timing-function: inherit;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit;
    transition-duration: inherit;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit;
    transition-timing-function: inherit;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca;
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    margin: 0 10px;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    opacity: 0.6;
    overflow: hidden;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    opacity: 1;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    border-radius: 4px;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    width: 54px;
    display: block;
    top: 50%;
    height: 53px;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    margin-top: -26px;
    opacity: 1;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px;
}
.lSAction > .lSNext {
    background-position: 0 -53px;
    right: 10px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */
.lSSlideOuter.vertical {
    position: relative;
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}

@media (min-width: 960px) {
  .lSAction > a {
    background-image: url('http://bigredbell.com/img/sliderarrows.svg');
  }
}





/**** VII - GRID ****************************************************************************/
.poi { width: 100%; padding: 5px; }
.col { width: 100%; float: left;}
.poi-info-group {
  float: left;
  background-color: #FFF; 
  margin: 2.75% 0 24px;
  overflow: auto;
  padding: .5% 5% 10%;
  height: auto;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.175);
  /*border: 1px solid rgba(0,0,0,.1);*/
  border-radius: 4px;
}

@media (min-width: 280px) {
  .poi { width: 50%; }
  .poi.full { width: 100%;}
}

@media (min-width: 760px) {
  .poi-info-group { padding: .5% 5% 5%; }
}

@media (min-width: 960px) {
  .col.half { width: 50%; } 
  .poi.large { width: 50%; }
  .poi.full { padding: 30px 4px; }
  .poi.full.feature-bg { width: 200%; padding: .75em .25em; margin-left: -50%; }
  .poi-info-group {
    padding: 0;
    margin: 2% 0 40px;
  }

  .poi { width: 25%; }
  .poi.full:first-child { padding: 0.5em 0.25em 0.75em; }

  .poi-info-group .col.half {
    padding: 2.5%;
  }
  .poi-info-group .col.half:last-child {
    border-left:1px solid rgba(0,0,0,.05)
  }
}

