.poi-map {
    position: relative;
}
#poi-map {
  height: 100%;
  position: relative;
  float: left;
}
.poi-map .main-panel-map {
    position: relative;
    float: left;
}
.poi-map .poi-bg {
    background-color: white;
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
#poi-informative-text {
    font-size: 14px;
}

@media (min-width: 600px) {
    #poi-map {
        width: 60%;
    }
    .poi-map .main-panel-map {
        width: 40%;
    }
    .poi-map .poi-bg {
        height: 245px;
    }
}

@media (min-width: 760px) {
    #poi-map {
        width: 70%;
    }
    .poi-map .main-panel-map {
        width: 30%;
    }
    .poi-map .poi-bg {
        height: 255px;
    }
}

@media (min-width: 960px) {
    #poi-map {
        width: 70%;
    }
    .poi-map .main-panel-map {
        width: 30%;
    }
    .poi-map .poi-bg {
        height: 555px;
    }
}
