{% extends "backend-base.html" %}

{% block content %}
<div class="row backend-space">
    <div class="col-md-12">
        <a class="btn btn-success" href="{% url 'PoiAdd' %}"><span class="glyphicon glyphicon-plus-sign"></span> Add new POI</a>
    </div>
</div>
<div class="row backend-space">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th></th>
                </tr>
            </thead>
            <tbody>
            {% for poi in pois.all %}
                <tr>
                    <td><a href="{% url 'PoiEdit' poi.id %}" >{{ poi.name }}</a></td>
                    <td>{{ poi.address }}</td>
                    <td><a class="btn btn-warning" href="{% url 'PoiDel' poi.id %}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        // set menu item active
        $('#menu-poi').addClass('active');
    });
</script>
{% endblock extra_js %}