{% load compressed %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title%} Big Red Bell  - administration{% endblock title%}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compressed_css 'backend' %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}files_widget/css/widgets.css">
    <style type="text/css">
        body {
            padding-top: 50px;
        }
    </style>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Big Red Bell</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id="menu-poi"><a href="{% url 'PoiList' %}">POIs</a></li>
        <li id="menu-ad"><a href="{% url 'AdList' %}">Ads</a></li>
        <li id="menu-cat"><a href="{% url 'CategoriesList' %}">Categories</a></li>
        <li id="menu-feature"><a href="{% url 'FeatureList' %}">Features</a></li>
        <li id="menu-amenity"><a href="{% url 'AmenityList' %}">Amenities</a></li>
        <li id="menu-place"><a href="{% url 'PlaceList' %}">Places</a></li>
      </ul>
      {% if user.is_authenticated %}
      <form class="navbar-form navbar-right" action="{% url 'LogoutBackend' %}" method="post">
      {% csrf_token %}
        <span id="hello-user">Hello, {{ user.username }}</span>
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</div>
<div class="container">
{% compressed_js 'backend' %}
{% block content %}

{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}
</div>

</body>
</html>