{% extends "backend-base.html" %}
{% load compressed %}
{% load crispy_forms_tags %}
{% block content %}
{% compressed_js 'backend_form' %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/OpenLayers_2.13.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/OLMapWidget_custom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}files_widget/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}files_widget/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}files_widget/js/widgets.js"></script>
    <div class="backend-space">
        {% crispy form %}
    </div>
    <script>
    $(function() {
        /*
        FUNCTION AND VARIABLE DECLARATIONS
        */

        //JSON value of hidden field.
        var hiddenElementValue = {};

        var hiddenPriceValue = {};

        var dayData = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];

        var priceData = ['toddler', 'children', 'adults', 'students', 'seniors'];

        //Row of worktime form.
        var worktimeRow = '<div class="form-inline form-group"><div id="<%= day %>" class="controls col-md-10 col-md-offset-2"><div class="col-md-1"><b><%= day %></b></div><div class="col-md-11"><input placeholder="Start time" type="text" name="address" maxlength="200" id="day_<%= dayIndex %>_start" class="textinput textInput form-control"><input placeholder="End time" type="text" name="address" maxlength="200" id="day_<%= dayIndex %>_end" class="textinput textInput form-control"></div></div></div>';

        //Show this when user inputs bad time.
        var validationError = '<p><span class="time-format-error" class="help-block"><strong>Invalid time format on <%= day %>. Date format is HH:mm. Please insert correct time and retry.</strong></span></p>';

        var copyButton = '<input id="copyValue" class="btn btn-success" type="button" name="copy" value="Copy to week">';

        var priceRow = '<div class="form-inline form-group"><div id="<%= priceCategory %>" class="controls col-md-10 col-md-offset-2"><div class="col-md-1"><b><%= priceCategory %></b></div><div class="col-md-11"><input placeholder="0" type="text" name="address" maxlength="200" id="priceCategory_<%= priceCategory %>" class="textinput textInput form-control"></div></div></div>';

        var priceValidationError = '<p><span class="price-format-error" class="help-block"><strong><%= errorMsg %></strong></span></p>';


        //Handle both worktime and prices validation and setting on hidden fields.
        function handleSubmit(event) {
            if(handleWorktime(event) && handlePrices(event)) {
                //Remove event handler from form or else it will be triggered when we remove #worktimeForm
                //and/or #priceForm.
                $('form').off();
                //Remove <span> contaning worktime form, so it doesn't get submitted.
                $('#priceForm').remove();
                $('#worktimeForm').remove();
                $('.poiform').submit();
            }
            else {
                event.preventDefault();
            }
        }

        //Validate time inserted by user. If it's correct append it as JSON to a hidden field.
        function handleWorktime(event) {
            //Clear all previous error messages.
            $('.time-format-error').remove();

            _.each(dayData, function(day, dayIndex) {
                var startTime = $('#day_' + dayIndex + '_start').val();
                var endTime = $('#day_' + dayIndex + '_end').val();

                if (!moment(startTime, 'HH:mm', true).isValid() || !moment(endTime, 'HH:mm', true).isValid()) {
                    var validationErrorRendered = _.template(validationError, {'day': day});
                    $(validationErrorRendered).insertAfter('#div_id_images');
                }

                hiddenElementValue[dayIndex] = {
                    start: startTime,
                    end: endTime
                };
            });

            //Check if there are any errors. If not, write JSON to hidden field and return true.
            if($('.time-format-error').length == 0) {
                $('#id_worktime').val(JSON.stringify(hiddenElementValue));
                return true;
            }
            else {
                return false;
            }
        }

        function handlePrices(event) {
            //Clear all previous error messages.
            $('.price-format-error').remove();

            _.each(priceData, function(priceCategory) {
                var priceValue = $("#priceCategory_" + priceCategory).val();
                var priceInt = parseInt(priceValue);

                if (priceValue < 0 || _.isNaN(priceInt)){
                    var error = _.template(priceValidationError, {'errorMsg': 'Price missing or lower than 0.'});
                    $(error).insertBefore('#priceForm');
                }

                hiddenPriceValue[priceCategory] = priceValue;
            });

            //Check if there are any errors. If not, write JSON to hidden field and return true.
            if($('.price-format-error').length == 0) {
                $('#id_price').val(JSON.stringify(hiddenPriceValue));
                return true;
            }
            else {
                return false;
            }
        }

        function copyMondayToAll(event) {
            var mondayStartValue = $('#day_0_start').val();
            var mondayEndValue = $('#day_0_end').val();

            _.each(dayData, function(day, dayIndex) {
                $('#day_' + dayIndex + '_start').val(mondayStartValue);
                $('#day_' + dayIndex + '_end').val(mondayEndValue);
            });
        }

        //Only when AJAX call is over can we create worktime rows, buttons and attach event listeners!
        function setupWorktimeUpdate(data) {
            hiddenElementValue = data;

            //Generate worktime rows.
            _.each(dayData, function(day, dayIndex) {
                var rendered = _.template(worktimeRow, {'day': day, 'dayIndex': dayIndex});
                $('#worktimeForm').append(rendered);

                //Imediately fill them with data.
                var start = hiddenElementValue[dayIndex]['start'];
                var end = hiddenElementValue[dayIndex]['end'];
                $('#day_' + dayIndex + '_start').val(start);
                $('#day_' + dayIndex + '_end').val(end);
            });

            $(copyButton).insertAfter('#day_0_end');
            $('form').on('submit', null, null, handleSubmit);
            $('#copyValue').on('click', null, null, copyMondayToAll);
        }

        function setupPricesUpdate(data) {
            var parsedData = JSON.parse(data);

            //Select object which contains data we need.
            hiddenPriceValue = parsedData[0].fields;

            //Generate price rows.
            _.each(priceData, function(priceCategory) {
                var rendered = _.template(priceRow, {
                    'priceCategory': priceCategory});

                $('#priceForm').append(rendered);

                //Data fill.
                var value = hiddenPriceValue[priceCategory];
                $("#priceCategory_" + priceCategory).val(value);
            });
        }

        //BUSINESS LOGIC

        //Add span that will contain worktime form.
        $('<span id="worktimeForm"><h3 class="text-center">Work time</h3></span>').insertBefore('#id_worktime');

        //Add span that will contain price form.
        $('<span id="priceForm"><h3 class="text-center">Prices</h3></span>').insertBefore('#id_price');

        //Check if we are on update page.
        var obId = {% if object.id %}{{ object.id }}{% else %}''{% endif %};
        if (obId) {
            //Get data from server.
            $.ajax('/cp/get_worktime/', {
                data: {'ObID': obId},
                success: setupWorktimeUpdate,
            });

            $.ajax('/cp/get_prices/', {
                data: {'ObID': obId},
                success: setupPricesUpdate,
            });
        }

        else {
            //Generate time rows.
            _.each(dayData, function(day, dayIndex) {
                var rendered = _.template(worktimeRow, {'day': day, 'dayIndex': dayIndex});
                $('#worktimeForm').append(rendered);
            });

            //Generate price rows.
            _.each(priceData, function(priceCategory) {
                var rendered = _.template(priceRow, {'priceCategory': priceCategory});
                $('#priceForm').append(rendered);
            });

            //Add listners and copy button.
            $(copyButton).insertAfter('#day_0_end');
            $('form').on('submit', null, null, handleSubmit);
            $('#copyValue').on('click', null, null, copyMondayToAll);
        }
});
    </script>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        // set menu item active
        $('#menu-poi').addClass('active');
        // style buttons for image widget
        $('.fake-files-input').addClass('btn btn-success');
        $('.add-by-url-button').addClass('btn btn-info');
        // set map center if there is no POI location set
        if ( $('#id_location').val() == '') {
            geodjango_location.map.setCenter(new OpenLayers.LonLat('-13617943.738191467','6041590.467647917'), 11);
            geodjango_areaOfInterest.map.setCenter(new OpenLayers.LonLat('-13617943.738191467','6041590.467647917'), 11);
        }
    });
</script>
{% endblock extra_js %}