{% extends "backend-base.html" %}

{% block content %}
<div class="row backend-space">
<div class="col-md-4 col-md-offset-4">
        <form action="" method="post" role="form">
        {% csrf_token %}
            <p><h4>Are you sure you want to delete "{{ object.name }}"?</h4></p>
            <input type="submit" class="btn btn-danger btn-block" value="Yes" />
            <a href="{% url 'AmenityList' %}" class="btn btn-primary btn-block">No</a>
        </form>
    </div>
</div>
{% endblock %}