{% extends "backend-base.html" %}

{% block content %}
<div class="row backend-space">
    <div class="col-md-12">
        <a class="btn btn-success" href="{% url 'PlaceAdd' %}"><span class="glyphicon glyphicon-plus-sign"></span> Add new Place</a>
    </div>
</div>
<div class="row backend-space">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                  <th>Name</th>
                  <th></th>
                </tr>
            </thead>
            <tbody>
            {% for place in places.all %}
                <tr>
                    <td><a href="{% url 'PlaceEdit' place.id %}" >{{ place.name }}</a></td>
                    <td><a class="btn btn-warning" href="{% url 'PlaceDel' place.id %}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        // set menu item active
        $('#menu-place').addClass('active');
    });
</script>
{% endblock extra_js %}