{% extends "backend-base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="backend-space">
	<div class="container">
		<div class="col-md-offset-4">
			{% crispy form %}
		</div>
	</div>
</div>
{% endblock content %}