{% extends "backend-base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="backend-space">
        {% crispy form %}
    </div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
    $(document).ready(function() {
        // set menu item active
        $('#menu-cat').addClass('active');
    });
    </script>
{% endblock extra_js %}