{% extends "backend-base.html" %}
{% load compressed %}
{% load crispy_forms_tags %}
{% block content %}
{% compressed_js 'backend_form' %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/OpenLayers_2.13.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/OLMapWidget_custom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}files_widget/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}files_widget/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}files_widget/js/widgets.js"></script>
    <div class="backend-space">
        {% crispy form %}
    </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        // set menu item active
        $('#menu-place').addClass('active');
        // style buttons for image widget
        $('.fake-files-input').addClass('btn btn-success');
        $('.add-by-url-button').addClass('btn btn-info');
        // set map center if there is no POI location set
        if ( $('#id_location').val() == '') {
            geodjango_location.map.setCenter(new OpenLayers.LonLat('-13617943.738191467','6041590.467647917'), 11);
        }
    });
</script>
{% endblock extra_js %}