{% load compressed staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Big Red Bell - Find fun and meaningful family activities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script type="text/javascript" src="//use.typekit.net/uhg7msf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% compressed_css 'frontend-map' %}
  <!--[if IE 9]>
  <link rel="stylesheet" type="text/css" href="{% static 'css/ie9.css' %}" />
  <![endif]-->
</head>

<body class="map-page">
<div class="la-anim"></div>

  <header class="header cf">
    <div class="header-inner">
      <img class="logo" src="{% static 'img/brb-logo-min.svg' %}" alt="Big Red Bell">

      <!-- Toggle triggers -->
      <img class="toggle-filter" src="http://bigredbell.com/img/filters.svg" alt="Filters">
      <img class="search-toggle" src="http://bigredbell.com/img/search.svg">

      <div class="main-nav-container">
        <ul class="main-nav">
          <li>About</li>
          <li>Contact</li>
          <li>Newsletter</li>
        </ul>
      </div>

      <div class="filters-container cf">
        <ul class="filters">
          <li data-title="Museums" id="museum-filter" class="tooltip"><img src="{% static 'img/museums.svg' %}"></li>

          <li data-title="Attractions" id="attractions-filter" class="tooltip"><img src="{% static 'img/attractions.svg' %}"></li>

          <li data-title="Animals" id="animals-filter" class="tooltip"><img src="{% static 'img/animals.svg' %}"></li>

          <li data-title="Parks" id="parks-filter" class="tooltip"><img src="{% static 'img/parks.svg' %}"></li>

          <li data-title="Sports" id="sports-filter" class="tooltip"><img src="{% static 'img/sports.svg' %}"></li>

          <li data-title="Events" id="events-filter" class="tooltip"><img src="{% static 'img/events.svg' %}"></li>
        </ul>
      </div>

      <div class="search-container">
        <form method="get" action="/search" class="search">
          <input type="search" id="searchInput"/>
        </form>
      </div>
    </div>
  </header>
<section class="main-panel-map">
</section>
<section class="home">
   <div id="map"></div>
</section>
{% compressed_js 'contrib' %}
{% compressed_js 'frontend' %}
</body>
</html>