{% load compressed staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Big Red Bell - Find fun and meaningful family activities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script type="text/javascript" src="//use.typekit.net/uhg7msf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% compressed_css 'frontend-list' %}
  <!--[if IE 9]>
  <link rel="stylesheet" type="text/css" href="{% static 'css/ie9.css' %}" />
  <![endif]-->
</head>

<body class="list-page">
<div style="display:none;" class="la-anim-10"></div>

<header class="header cf">
  <div class="header-inner">
    <!-- Logo -->
    <div class="logo">
      <a href="/"><img src="{% static 'img/logo.svg' %}" alt="Big Red Bell"><span class="logo-title">Big Red Bell</span></a>
    </div>

    <!-- Search -->
    <div class="search-container">
      <form method="get" action="/search" class="search">
        <input placeholder="Search Big Red Bell" type="search"/>
      </form>
    </div>

    <!-- Nav -->
    <div class="nav-container">
      <!-- Toggles -->
      <a href="#menu-button" class="hamburger-menu">
        <span class="hide">Menu</span>
      </a>
      <a href="#search" class="search-toggle"></a>

      <div class="nav-container-inner">
        <!-- Filters -->
        <div class="category-filters">
          <select>
            <option selected="selected" disabled="disabled">Explore</option>
            <option value="example">Everything</option> <!-- An option to filter for all categories (default behavior already) -->
            <option value="Animals">Animals</option> <!-- Options should pull from categories -->
            <option value="Science">Science</option>
            <option value="example">Example</option>
            <option value="example">Example</option>
          </select>
          <span id="width_tmp"></span> <!-- For auto expanding width -->
        </div>

        <!-- Map and List Toggle -->
        <a href="#map">Map</a>
        <a href="#map" class="hide">List</a>

        <a href="">Our Mission</a>
        <a href="">Contact</a>
        <a href="" class="subscribe">Subscribe!</a>
      </div>
    </div>
  </div>
</header>

<section class="main-panel">
  <div class="col teaser cf">
    <div class="feature first" style="background: #5CB9C2;">
      <h1>Learning is Adventurous!</h1>
    </div>
  </div>

  <div class="container cf">

    <div class="col cf desc-title">
      <h2>Nearby Attractions</h2>
      <p>We've visited and can recommend all the places below</p>
    </div>

    <div class="location-list cf">
        <ul id="locations" class="locations"></ul>
    </div>

  </div>
</section>

<span id="load_more">Load more</span>
{% compressed_js 'contrib' %}
{% compressed_js 'frontend-list' %}

<script type="text/javascript">
  $('select').change(function(){
      $("#width_tmp").html($('select option:selected').text());
      $(this).width($("#width_tmp").width()+30); // 30 : the size of the down arrow of the select box
  });

  // PACKERY
  var container = document.querySelector('#locations');
    var pckry = new Packery( container, {
      // options
      itemSelector: '.poi',
      transitionDuration: '0.2s'
  });
  // END PACKERY

  $(".toggle-filter").click(function () {
      $(".toggle-filter").toggleClass("toggle-filter-active");
      $(".filters").toggleClass("filters-active");
  });

  $(".search-toggle").click(function () {
      $(".search-container").toggleClass("search-container-active");
  });

  $(".about,.about-modal-close").click(function () {
      $(".about-modal").toggleClass("about-modal-active");
  });
</script>
</body>
</html>