{% load compressed staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Big Red Bell - Find fun and meaningful family activities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script type="text/javascript" src="//use.typekit.net/uhg7msf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% compressed_css 'frontend-poi-detail' %}
  <!--[if IE 9]>
  <link rel="stylesheet" type="text/css" href="{% static 'css/ie9.css' %}" />
  <![endif]-->
</head>

<body class="poi-details-page">

<header class="header cf">
  <div class="header-inner">
    <!-- Logo -->
    <div class="logo">
      <a href="/"><img src="{% static 'img/logo.svg' %}" alt="Big Red Bell"><span class="logo-title">Big Red Bell</span></a>
    </div>

    <!-- Search -->
    <div class="search-container">
      <form method="get" action="/search" class="search">
        <input placeholder="Search Big Red Bell" type="search"/>
      </form>
    </div>

    <!-- Nav -->
    <div class="nav-container">
      <!-- Toggles -->
      <a href="#menu-button" class="hamburger-menu">
        <span class="hide">Menu</span>
      </a>
      <a href="#search" class="search-toggle"></a>

      <div class="nav-container-inner">
        <!-- Filters -->
        <div class="category-filters">
          <select>
            <option selected="selected" disabled="disabled">Explore</option>
            <option value="example">Everything</option> <!-- An option to filter for all categories (default behavior already) -->
            <option value="Animals">Animals</option> <!-- Options should pull from categories -->
            <option value="Science">Science</option>
            <option value="example">Example</option>
            <option value="example">Example</option>
          </select>
          <span id="width_tmp"></span> <!-- For auto expanding width -->
        </div>

        <!-- Map and List Toggle -->
        <a href="#map">Map</a>
        <a href="#map" class="hide">List</a>

        <a href="">Our Mission</a>
        <a href="">Contact</a>
        <a href="" class="subscribe">Subscribe!</a>
      </div>
    </div>
  </div>
</header>

<section class="main-panel">
  <div class="container cf">
    <div class="slideshow-group">
      <div class="poi-title">
        <h1>{{ poi.name }}</h1>
        <p>{{ poi.address }}</p>
      </div>

      <div class="slideshow">
        <ul id="lightSlider">
            {% for img in poi.images.all %}
                <li data-thumb="{{img.url}}">
                <img src="{{img.url}}" />
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>

    <div class="poi-info-group cf">
      <div class="col half">
        <div class="poi-description">
          <h2>About this place</h2>
          {{ poi.description | safe }}
        </div>

        <div class="poi-extra">
          <!-- Custom HTML -->
        </div>

      </div>

      <div class="col half">
        <div class="hours">
          <h2>Hours</h2>
          <ul class="hours-list">
            {% for aFormatedHour in poi.formatedHours %}
                <li><span class="day">{{aFormatedHour.days}}</span>{{aFormatedHour.hours}}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="amenities">
          <h2>Amenities</h2>
          <ul class="amenities-list">
            {% for amenity in poi.amenities.all %}
                <li><img src="{{amenity.icon.url}}"><p>{{amenity.name}}</p></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="poi-map-title">
    <h2 >Places of interest nearby</h2>
    <p>(within <span>1</span> mile radius)</p>
  </div>
  <div class="poi-map">
    <section class="main-panel-map">
      <div class="poi-bg">
        <p id="poi-informative-text">Hover over map marker for place details.</p>
        <div id="poi-place-description"></div>
      </div>
    </section>
    <div id="poi-map"></div>
  </div>

  <div class="container">
    <div class="related-poi">
      <h2 class="related-poi-title">Places like {{ poi.name }}</h2>
      {% if poi.similarPois %}
          <ul id="locations" class="locations" style="position: relative; height: 241px;">
            {% for similarPoi in poi.similarPois %}
                <li class="poi" style="position:relative;float:left;">
                  <a href="{% url 'poi_detail_page' similarPoi.id %}">
                    <div class="list">
                      <div class="list-image">
                        <img src="{{similarPoi.images.first.thumbnail_400x400.url}}">
                      </div>

                      <div class="list-info">
                        <h3>{{similarPoi.name}}</h3>
                        <p>
                            <span class="city">{{similarPoi.city}}</span> •
                            <span class="hours-op">{{similarPoi.openUntil}}</span></p>
                      </div>
                    </div>
                  </a>
                </li>
            {% endfor %}
          </ul>
      {% else %}
        <h3>No similar places found...</h3>
      {% endif %}
    </div>
  </div>

</section>

{% compressed_js 'contrib' %}
{% compressed_js 'frontend-poi-detail' %}

<script type="text/javascript">
  APP.ReferentPOIId = {{ poi.id }};
  var placeview = new APP.PlaceView();

  $('select').change(function(){
      $("#width_tmp").html($('select option:selected').text());
      $(this).width($("#width_tmp").width()+30); // 30 : the size of the down arrow of the select box
  });

  // PACKERY
  var container = document.querySelector('#locations');
    var pckry = new Packery( container, {
      // options
      itemSelector: '.poi',
      transitionDuration: '0.2s'
  });
  // END PACKERY

  $(".toggle-filter").click(function () {
      $(".toggle-filter").toggleClass("toggle-filter-active");
      $(".filters").toggleClass("filters-active");
  });

  $(".search-toggle").click(function () {
      $(".search-container").toggleClass("search-container-active");
  });

  $(".about,.about-modal-close").click(function () {
      $(".about-modal").toggleClass("about-modal-active");
  });
</script>

</body>
</html>